// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
--bs-nav-link-font-size:1rem;
--bs-nav-link-font-weight: ;

}

.navbar{
    box-shadow: 2px 2px 5px #d9d0d0;
}

.nav-link{
    --bs-nav-link-font-weight: 500;
     font-size: 14px;
}

.main-sidebar{
    height: 100%;
    background-color: #F0F8FF;
}

.aside-nav-item{
    padding-left: 10px;
    border-bottom: 1px solid rgb(213, 212, 212);
}
.aside-nav-item:hover{
    background-color: #ECEFF1;
}

.card-body {
    box-shadow: 2px 2px 5px #d9d0d0;
    background-color: #f0f8ff;
}

.table {
    padding: 10px;
}
td {
    font-size: 14px;
}
th {
    font-size: 14px;
    font-weight: 500;
}
.v-chip{
    font-size:14px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.v-btn{
    font-size:12px;
}
.rezervacija-pozadina{
    background-image: url("https://wallpapers.com/images/featured/1fokm2reflo9iy5r.jpg");
}
